 .u-section-1 {
  background-image: url("images/Screenshot2024-05-2001-38-58.png");
  background-position: 59.98% 50%;
  min-height: 1237px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 17px calc(((100% - 1140px) / 2)  + 1015px) 0 calc(((100% - 1140px) / 2)  + -91px);
}

.u-section-1 .u-text-2 {
  margin: 1px calc(((100% - 1140px) / 2)  + 31px) 0 calc(((100% - 1140px) / 2)  + -80px);
}

.u-section-1 .u-text-3 {
  font-size: 6rem;
  margin: 0 calc(((100% - 1140px) / 2)  + 166px) 0 calc(((100% - 1140px) / 2)  + 747px);
}

.u-section-1 .u-text-4 {
  font-size: 2.25rem;
  text-shadow: 2px 2px 10px rgba(255,255,255,1);
  margin: -9px calc(((100% - 1140px) / 2)  + 217px) 0 calc(((100% - 1140px) / 2)  + 643px);
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 265px;
  --radius: 23px;
  transition-duration: 0.5s;
  margin: -117px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 124px;
  height: 124px;
  box-shadow: 2px 2px 11px 0px rgba(128,128,128,1);
  background-image: url("images/oie_oie_trim_image.png");
  background-position: 50% 50%;
  margin: -139px calc(((100% - 1140px) / 2)  + 305px) 0 auto;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 508px;
  margin: 33px calc(((100% - 1140px) / 2)  + 701px) 0 calc(((100% - 1140px) / 2)  + 72px);
}

.u-section-1 .u-text-5 {
  margin: -397px calc(((100% - 1140px) / 2)  + 102px) 0 calc(((100% - 1140px) / 2)  + -152px);
}

.u-section-1 .u-text-6 {
  font-size: 6rem;
  margin: -148px calc(((100% - 1140px) / 2)  + 85px) 0 calc(((100% - 1140px) / 2)  + 829px);
}

.u-section-1 .u-text-7 {
  font-size: 2.25rem;
  text-shadow: 2px 2px 10px rgba(255,255,255,1);
  margin: -7px calc(((100% - 1140px) / 2)  + 241px) 0 calc(((100% - 1140px) / 2)  + 599px);
}

.u-section-1 .u-image-3 {
  width: 150px;
  height: 150px;
  --radius: 10px;
  box-shadow: 2px 2px 11px 0px rgba(128,128,128,1);
  margin: 18px calc(((100% - 1140px) / 2)  + 323px) 60px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: auto 105%;
    min-height: 974px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: calc(((100% - 940px) / 2)  + 751px);
    margin-left: calc(((100% - 940px) / 2) + -91px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -39px;
    margin-right: calc(((100% - 940px) / 2)  + 50px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2)  + 43px);
    margin-left: calc(((100% - 940px) / 2)  + 670px);
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -4px;
    margin-right: calc(((100% - 940px) / 2)  + 87px);
    margin-left: calc(((100% - 940px) / 2)  + 573px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2)  + -21px);
  }

  .u-section-1 .u-image-2 {
    margin-top: -124px;
    margin-right: calc(((100% - 940px) / 2)  + 199px);
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 44px;
    margin-right: calc(((100% - 940px) / 2)  + 573px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-top: -268px;
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -203px;
    margin-right: calc(((100% - 940px) / 2)  + 179px);
    margin-left: calc(((100% - 940px) / 2)  + 535px);
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 1px;
    margin-right: calc(((100% - 940px) / 2)  + 224px);
    margin-left: calc(((100% - 940px) / 2)  + 417px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 940px) / 2)  + 306px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 923px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -14px;
    margin-right: calc(((100% - 720px) / 2)  + 495px);
    margin-left: calc(((100% - 720px) / 2) + -91px);
  }

  .u-section-1 .u-text-2 {
    margin-top: -24px;
    margin-right: calc(((100% - 720px) / 2)  + 50px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-top: -14px;
    margin-right: calc(((100% - 720px) / 2)  + 21px);
    margin-left: calc(((100% - 720px) / 2)  + 582px);
  }

  .u-section-1 .u-text-4 {
    margin-top: -6px;
    margin-right: 0;
    margin-left: calc(((100% - 720px) / 2)  + 490px);
  }

  .u-section-1 .u-image-1 {
    width: 461px;
    height: 190px;
    margin-top: -96px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-top: -75px;
    margin-right: calc(((100% - 720px) / 2)  + 62px);
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -5px;
    margin-right: calc(((100% - 720px) / 2)  + 324px);
    margin-left: calc(((100% - 720px) / 2)  + 29px);
  }

  .u-section-1 .u-text-5 {
    margin-top: -56px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-6 {
    margin-top: -402px;
    margin-right: calc(((100% - 720px) / 2)  + -23px);
    margin-left: calc(((100% - 720px) / 2)  + 517px);
  }

  .u-section-1 .u-text-7 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2)  + 18px);
    margin-left: calc(((100% - 720px) / 2)  + 402px);
  }

  .u-section-1 .u-image-3 {
    margin-top: 25px;
    margin-right: calc(((100% - 720px) / 2)  + 101px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 881px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2)  + 405px);
    margin-left: calc(((100% - 540px) / 2) + -91px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    margin-top: 20px;
    margin-right: calc(((100% - 540px) / 2)  + -68px);
    margin-left: calc(((100% - 540px) / 2)  + 479px);
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-top: 13px;
    margin-right: calc(((100% - 540px) / 2)  + -95px);
    margin-left: calc(((100% - 540px) / 2)  + 445px);
  }

  .u-section-1 .u-image-1 {
    width: 481px;
    height: 200px;
    margin-top: -79px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 77px;
    height: 77px;
    margin-top: -116px;
    margin-right: calc(((100% - 540px) / 2)  + 6px);
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 533px;
    margin-top: 47px;
    margin-right: calc(((100% - 540px) / 2)  + 228px);
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -26px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-6 {
    font-size: 2.25rem;
    margin-top: -473px;
    margin-right: calc(((100% - 540px) / 2)  + -13px);
    margin-left: calc(((100% - 540px) / 2)  + 417px);
  }

  .u-section-1 .u-text-7 {
    font-size: 1.25rem;
    margin-top: 10px;
    margin-right: calc(((100% - 540px) / 2)  + -101px);
    margin-left: calc(((100% - 540px) / 2)  + 342px);
  }

  .u-section-1 .u-image-3 {
    width: 95px;
    height: 95px;
    margin-top: 11px;
    margin-right: calc(((100% - 540px) / 2)  + 65px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 834px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 28px;
    margin-right: calc(((100% - 340px) / 2)  + 219px);
    margin-left: calc(((100% - 340px) / 2) + -91px);
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    margin-top: 31px;
    margin-right: calc(((100% - 340px) / 2)  + -14px);
    margin-left: calc(((100% - 340px) / 2)  + 326px);
  }

  .u-section-1 .u-text-4 {
    margin-top: 0;
    margin-right: calc(((100% - 340px) / 2)  + -62px);
    margin-left: calc(((100% - 340px) / 2)  + 278px);
  }

  .u-section-1 .u-image-1 {
    width: 325px;
    height: 174px;
    margin-top: -56px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -118px;
    margin-right: calc(((100% - 340px) / 2)  + -33px);
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 514px;
    margin-right: calc(((100% - 340px) / 2)  + -358px);
    margin-left: calc(((100% - 340px) / 2)  + 358px);
  }

  .u-section-1 .u-text-5 {
    margin-top: -393px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-6 {
    font-size: 6rem;
    margin-top: -589px;
    margin-right: calc(((100% - 340px) / 2)  + 26px);
    margin-left: calc(((100% - 340px) / 2)  + 264px);
  }

  .u-section-1 .u-text-7 {
    width: 199px;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    width: 175px;
    height: 175px;
    margin-top: 21px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2)  + 75px);
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}