 .u-section-1 {
  background-image: url("images/Screenshot2024-05-2001-38-58.png");
  background-position: 57.61% 13.8%;
  background-size: auto 105%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1197px;
}

.u-section-1 .u-text-1 {
  margin: -41px 1001px 0 -88px;
}

.u-section-1 .u-text-2 {
  margin: 20px 73px 0 -123px;
}

.u-section-1 .u-text-3 {
  font-size: 6rem;
  margin: 45px 364px 0 549px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 265px;
  --radius: 23px;
  transition-duration: 0.5s;
  margin: -99px auto 0 -123px;
}

.u-section-1 .u-text-4 {
  font-size: 2.25rem;
  text-shadow: 2px 2px 10px rgba(255,255,255,1);
  margin: -180px 403px 0 457px;
}

.u-section-1 .u-image-2 {
  width: 124px;
  height: 124px;
  box-shadow: 2px 2px 11px 0px rgba(128,128,128,1);
  background-image: url("images/oie_oie_trim_image.png");
  background-position: 50% 50%;
  margin: 10px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 145px 102px 60px -152px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 987px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 901px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 264px;
    margin-left: 449px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 303px;
    margin-left: 357px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 791px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 154px;
    margin-left: 339px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 193px;
    margin-left: 247px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 701px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    margin-right: 64px;
    margin-left: 249px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 103px;
    margin-left: 157px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 250px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 601px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    margin-right: 0;
    margin-left: 113px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 158px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
    margin-top: -73px;
    margin-right: 3px;
    margin-left: 57px;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}