 .u-section-1 {
  background-image: url("images/Screenshot2024-05-2001-38-58.png");
  background-position: 57.61% 13.8%;
  background-size: auto 105%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1197px;
}

.u-section-1 .u-text-1 {
  margin: 83px 91px 0 -140px;
}

.u-section-1 .u-text-2 {
  font-size: 6rem;
  margin: 48px 124px 0 789px;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  text-shadow: 2px 2px 10px rgba(255,255,255,1);
  margin: -9px 175px 0 685px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 265px;
  --radius: 23px;
  transition-duration: 0.5s;
  margin: -126px auto 0 58px;
}

.u-section-1 .u-image-2 {
  width: 124px;
  height: 124px;
  box-shadow: 2px 2px 11px 0px rgba(128,128,128,1);
  background-image: url("images/oie_oie_trim_image.png");
  background-position: 50% 50%;
  margin: -130px 263px 0 auto;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 508px;
  margin: 24px 593px 0 180px;
}

.u-section-1 .u-text-4 {
  margin: -389px 102px 0 -152px;
}

.u-section-1 .u-text-5 {
  font-size: 6rem;
  margin: -147px 222px 0 691px;
}

.u-section-1 .u-text-6 {
  font-size: 2.25rem;
  text-shadow: 2px 2px 10px rgba(255,255,255,1);
  margin: -16px 270px 0 570px;
}

.u-section-1 .u-image-3 {
  width: 150px;
  height: 150px;
  --radius: 10px;
  box-shadow: 2px 2px 11px 0px rgba(128,128,128,1);
  margin: 18px 352px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 987px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 24px;
    margin-left: 689px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 75px;
    margin-left: 585px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 493px;
    margin-left: 80px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 122px;
    margin-left: 591px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 170px;
    margin-left: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 493px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 440px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 353px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 12px;
    margin-left: 481px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 60px;
    margin-left: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-left: 313px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 2px;
    margin-left: 260px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 251px;
    margin-top: -124px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 20px;
    margin-right: 173px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -385px;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.25rem;
    margin-right: 0;
    margin-left: 313px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 240px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-left: 113px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    margin-left: 60px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 158px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 216px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 113px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -478px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
    margin-left: 113px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.875rem;
    margin-left: 40px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 190px;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}